doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title DETAILS
  body 
    include layout
    h1 Details

    .container.table 
      table#details 
        tr#id 
          th ID 
          td #{customer.id}

        tr#user_id
          th USER_ID 
          td #{customer.user_id}

        tr#sendername
          th NAME
          td #{customer.name}

        tr#senderbalance
          th BALANCE 
          td #{customer.balance}

        tr#email 
          th E-MAIL 
          td #{customer.email}

        tr#city 
          th CITY 
          td #{customer.city}

    tr
      button.btn 
        a(target = '_blank' href = `/transfer/${customer.id}`) Transfer 
      button.btn 
        a(href ="/allusers") Back